{% load static %}
<section id="fotter">
    <footer>
        <div class="container-fluid bg-dark">
            <div class="row">
                <div class="col-md-4 mt-5">
                    <img src="{% static 'img/WhatsApp_Image_2025-01-13_at_20.48.56_11caf494-removebg-preview.png' %}" class="w-50" alt="">
                    <p class="text-white mt-4" style="padding-left: 15px;">Villaworld Autos 2024 <i class="bi bi-dot"></i> All rigtht reserved</p>
                    <h3 class="text-white" style="letter-spacing: 7px; padding-left: 15px;">
                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-whatsapp"></i>
                    </h3>
                </div>

                <div class="col-md-4 mt-5">
                    <h5 class="text-white">Services</h5>
                    <a href="{% url 'delivery' %}" class="text-decoration-none text-white">Buy & Delivery</a> <br>
                    <a href="" class="text-decoration-none text-white">How it works</a>
                </div>

                <div class="col-md-4 mt-5">
                    <h5 class="text-white">Company</h5>
                    <a href="{% url 'about' %}" class="text-decoration-none text-white">About</a> <br>
                    <a href="{% url 'contact' %}" class="text-decoration-none text-white">Contact Us</a> <br>
                    <a href="{% url 'termsofuse' %}" class="text-decoration-none text-white">Terms of use</a>
                </div>
            </div>
        </div>
    </footer>
</section>
