{% extends "base.html" %}
{% load static %}
{% block title %} About Page {% endblock title %}

{% block content %}
  <section id="about">
    <div class="contianer-fluid">
      <div class="card bg-dark border-0 text-white">
        <img class="card-img w-100" src="/villapro/static/img/Mercedes BenzEQA.webp" style="opacity: 0.5;" alt="Title" />
        <div class="card-img-overlay">
          <h4 class="card-title text-center display-4 d-none d-md-block bg-success" style="position: absolute; margin-top: 300px;">About<img src="/villapro/static/img/WhatsApp_Image_2025-01-13_at_20.48.56_11caf494-removebg-preview.png" class="w-50" alt=""></h4>
        </div>
      </div>
    </div>


    <div class="container my-5">
      <i class="bi bi-info-circle display-1 ">Villaworld Autos</i>
      <div class="row gy-3">
        <div class="col-md-6">
          <div class="card bg-dark border-0 text-white">
            <img class="card-img w-100" src="/villapro/static/img/abt images.jpg" style="opacity: 0.5;" alt="Title" />
            <div class="card-img-overlay">
              <!-- <h4 class="card-title text-center display-4" data-aos="fade-right" data-aos-duration="100" data-aos-delay="2000" style="font-family: 'Ubuntu', sans-serif;">About Us</h4> -->
              <p class="card-text text-center fs-2 mb-3" data-aos="fade-right" data-aos-duration="100" data-aos-delay="1000" style="font-family: 'Ubuntu', sans-serif;">Our top priority is the satisfaction of our customers, we sell affordable cars at a negotiable price. <br>Everyone is welcome to buy cars @Villaworld Autos</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card bg-dark border-0 text-white">
            <img class="card-img w-100" src="/villapro/static/img/abt Solterra.jpg" style="opacity: 0.5;" alt="Title" />
            <div class="card-img-overlay">
              <!-- <h4 class="card-title text-center display-4" data-aos="fade-right" data-aos-duration="100" data-aos-delay="2000" style="font-family: 'Ubuntu', sans-serif;">About Us</h4> -->
              <h3 class="card-text text-center fs-1 mt-5" data-aos="fade-right" data-aos-duration="100" data-aos-delay="2000" style="font-family: 'Ubuntu', sans-serif;">"@Villaworld Autos we distribute cars to it rightful owners and the necessary paper works"</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="d-flex gap-1">Who <p class="text-success">we are?</p></h3>
          <p class="text-center fs-5">Welcome to Villaworld Cars - Your Trusted Car Dealership
            At Villaworld Cars, we are proud to offer a wide selection of high-quality, reliable vehicles to meet the diverse needs of our customers. Whether you are searching for a new or pre-owned vehicle, our dedicated team is here to guide you through every step of the car-buying experience. Our Vehicle Inventory
            At Villaworld Cars, we offer a broad range of vehicles, including:</p>
            
            <p class="text-success fs-4 my-3 lh-5"><strong>New Cars: Browse the latest models from top manufacturers, offering cutting-edge features, superior performance, and modern designs. <br>
              Pre-Owned Vehicles: Our certified pre-owned cars undergo rigorous inspections to ensure you drive off with a dependable and affordable option. <br>
              Specialty Vehicles: We also offer specialty cars, including SUVs, trucks, and luxury models, to cater to all types of drivers.</strong></p>
            
            <h3 class="text-start text-decoration-underline">Why Choose Villaworld Cars?</h3> <br>
            <p class="lh-2 fw-bolder">Extensive Selection: We carry vehicles from top brands, ensuring a comprehensive range of choices. <br>
            Experienced Sales Team: Our friendly and knowledgeable team is always ready to assist you in finding the perfect vehicle to fit your lifestyle and budget. <br>
            Financing Options: We offer flexible financing options to help you secure the best deal, whether you have good credit or need help finding financing. <br>
            After-Sales Services: Our commitment doesn't end with the sale. Villaworld Cars provides professional maintenance, repairs, and parts to keep your vehicle running smoothly. <br></p>
            
           
        </div>
      </div>
    </div>

    <div class="container d-flex justify-content-center">
      <div class="row">
        <div class="card mb-3 bg-success" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/villapro/static/img/undraw_destination_fkst-removebg-preview.png" class="img-fluid rounded-start w-100" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title text-white">Visit Us Today <i class="fa-solid fa-location-dot"></i></h5>
                <p class="card-text text-white">We invite you to visit our showroom, where you can explore our extensive inventory and take a test drive. Whether you're in the market for a family car, an adventurous SUV, or a high-performance sports car, Villaworld Cars has the perfect vehicle for you!
            
                  For more information, call us at [Phone Number] or visit our website at [Website URL].</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </section>
{% endblock content %}